@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Alfa+Slab+One&display=swap');
@import "tailwindcss";



@keyframes scrollGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.bg-animated-grid {
  background-image: 
    linear-gradient(to right, #d4d4d4 1px, transparent 1px),
    linear-gradient(to bottom, #d4d4d4 1px, transparent 1px);
  background-size: 40px 40px;
  animation: scrollGrid 10s linear infinite;
}
@layer base {
    :root {
      --font-sans: 'Inter', sans-serif;
      --font-alfa: 'Alfa Slab One', cursive;
    }
  
    body {
      font-family: var(--font-sans);
    }
  }
  
  @layer utilities {
    .font-alfa {
      font-family: var(--font-alfa);
    }
  }

  
  
  